{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load mptt_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">


<div class="container_form">
    <h1>Основная информация</h1>
    <form method="post" enctype="multipart/form-data" name="student_form">
    {% csrf_token %}
    <div>
    {% for field in form %}
    <div class="form-group">
        {{field.label_tag}}
        <div>{{field}}</div>
        <div class="error">{{field.errors}}</div>
    </div>
    {% endfor %}

    </div>
    <input type="hidden" name="student_input" value="{{id}}">
    <button type="submit" >Сохранить</button>
</form>
<h1>Ваши навыки</h1>
<form method="post" name="skills_form">
    <div class="custom-label">Дерево навыков</div>
     <ul class="root">
      {% recursetree nodes %}
        <li class="skill{% if node.is_leaf_node %} leaf{% endif %}">
          {{node.name}}
          {% if not node.is_leaf_node %}
            <ul class="children">
              {{children}}
            </ul>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ul>

      {% csrf_token %}
      <div class="custom-label">Выбранные навыки</div>
      <ul id="selected-skills-list"></ul>
      <input type="hidden" id="selected-skills-input" name="skills_input" value="{{ selected_skills }}">

    <button type="submit">Сохранить</button>


    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Скрываем всех детей на старте
  $('.children').hide();

  // Объявляем переменную для хранения выбранных навыков
  var selectedSkills = [];

  // Добавляем ранее выбранные навыки в список выбранных навыков
  {% for skill in selected_skills %}
    selectedSkills.push('{{ skill }}');
  {% endfor %}

  // Выводим выбранные навыки на страницу
  for (var i = 0; i < selectedSkills.length; i++) {
    var skillButton = $('<button>').text(selectedSkills[i]).addClass('skill-button').data('skill', selectedSkills[i]);
    $('#selected-skills-list').append($('<li>').css('order', i).append(skillButton));
  }

  // Обновляем скрытое поле формы
  $('#selected-skills-input').val(selectedSkills.join(','));


  // Обработчик клика на родительский элемент
  $('.skill').click(function() {
    $(this).children('.children').slideToggle();
  });

  // Обработчик клика на листовой элемент
  $('.leaf').click(function() {
    // Получаем текст элемента
    var skillName = $(this).text().trim();

    // Проверяем, не был ли уже добавлен навык
    if ($('#selected-skills-list').find('button').filter(function() { return $(this).data('skill') === skillName; }).length > 0) {
      // Если навык уже был добавлен, выводим сообщение об ошибке
      alert('Навык "' + skillName + '" уже был добавлен!');
    } else {
      // Если навык еще не был добавлен, создаем кнопку и добавляем ее в список выбранных навыков
      var skillButton = $('<button>').text(skillName).addClass('skill-button').data('skill', skillName);
      $('#selected-skills-list').append($('<li>').css('order', selectedSkills.length).append(skillButton));


      // Добавляем название навыка в список выбранных навыков
      selectedSkills.push(skillName);

      // Обновляем скрытое поле формы
      $('#selected-skills-input').val(selectedSkills.join(','));
    }
  });

  // Отменяем всплытие клика на дочерние элементы
  $('.children').click(function(event) {
    event.stopPropagation();
  });

  // Обработчик клика на кнопку выбранного навыка
  $('#selected-skills-list').on('click', '.skill-button', function() {
    // Получаем имя выбранного навыка
    var skillName = $(this).text();

    // Удаляем выбранную кнопку
    $(this).parent().remove();

  // Удаляем название навыка из списка выбранных навыков
  var index = selectedSkills.indexOf(skillName);
  if (index !== -1) {
    selectedSkills.splice(index, 1);
  }

  // Обновляем скрытое поле формы
  $('#selected-skills-input').val(selectedSkills.join(','));
});
});
</script>
{% endblock %}
