{% load mptt_tags %}
<style>
ul {
  list-style-type: none;
}


form button[type="submit"] {
  background-color: green;
  color: black;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: bold;
}

form button[type="submit"]:hover {
  cursor: pointer;
  color: #fff;
  background-color: #358a27;
}
.skill {
  cursor: pointer;
  margin: 5px 0;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  color: black;
  font-weight: bold;
  background-color: #fff;
  padding-left: 10px;
}

.container {
  margin: 0 auto;
  width: 50%;

}

.skill:not(.leaf):hover {
  background-color: #f5f5f5;
}

.skill.leaf:hover {
  background-color: #8eff8e;
}

.children {
  margin-left: 20px;
  padding-left: 10px;
}

.skill-button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}
#selected-skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#selected-skills-list li {
  margin-right: 10px;
  margin-bottom: 10px;
}
</style>

<div class="container">

    <ul class="root">
      {% recursetree nodes %}
        <li class="skill{% if node.is_leaf_node %} leaf{% endif %}">
          {{ node.name }}
          {% if not node.is_leaf_node %}
            <ul class="children">
              {{ children }}
            </ul>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ul>
    <form method="post" action="{% url 'test' %}">
      {% csrf_token %}
      <input type="hidden" id="selected-skills-input" name="selected_skills" value="{{ selected_skills }}">
      <button type="submit">Отправить</button>
    </form>
    <ul id="selected-skills-list"></ul>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Скрываем всех детей на старте
  $('.children').hide();

  // Объявляем переменную для хранения выбранных навыков
  var selectedSkills = [];

  // Обработчик клика на родительский элемент
  $('.skill').click(function() {
    $(this).children('.children').slideToggle();
  });

  // Обработчик клика на листовой элемент
  $('.leaf').click(function() {
    // Получаем текст элемента
    var skillName = $(this).text();

    // Проверяем, не был ли уже добавлен навык
    if ($('#selected-skills-list').find('button:contains("' + skillName + '")').length > 0) {
      // Если навык уже был добавлен, выводим сообщение об ошибке
      alert('Навык "' + skillName + '" уже был добавлен!');
    } else {
      // Если навык еще не был добавлен, создаем кнопку и добавляем ее в список выбранных навыков
      var skillButton = $('<button>').text(skillName).addClass('skill-button');
      $('#selected-skills-list').append($('<li>').css('order', selectedSkills.length).append(skillButton));


      // Добавляем название навыка в список выбранных навыков
      selectedSkills.push(skillName);

      // Обновляем скрытое поле формы
      $('#selected-skills-input').val(selectedSkills.join(','));
    }
  });

  // Отменяем всплытие клика на дочерние элементы
  $('.children').click(function(event) {
    event.stopPropagation();
  });

  // Обработчик клика на кнопку выбранного навыка
  $('#selected-skills-list').on('click', '.skill-button', function() {
    // Получаем имя выбранного навыка
    var skillName = $(this).text();

    // Удаляем выбранную кнопку
    $(this).parent().remove();

  // Удаляем название навыка из списка выбранных навыков
  var index = selectedSkills.indexOf(skillName);
  if (index !== -1) {
    selectedSkills.splice(index, 1);
  }

  // Обновляем скрытое поле формы
  $('#selected-skills-input').val(selectedSkills.join(','));
});
});
</script>