{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
<div class="container  rounded-lg border p-5">

  <div class="row mb-2 ">

    <div class="col-lg-4 col-sm-12  p-2 centre  " >
      <div  class="">
        {% if student.photo %}
        <img src="{{student.photo.url}}" alt="{{ student.full_name }}" class="img-fluid fixed-height">
        {% else %}
        <img src="{% static 'image/default.jpg' %}" alt="{{ student.full_name }}" class="fixed-height img-fluid">
        {% endif %}
      </div>
    </div>

    <div class="col-lg-8 col-sm-12   text-sm-left text-lg-left mb-4 mt-4 ">
      <div class="row ">

        <div class="col-lg-12 col-sm-12 p-2  font-weight-bold" >
         <p class="h1">{{student.full_name}}</p>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Дата рождения: </span>
          <span class="text-secondary">{{student.date_of_birth}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Возраст: </span>
          <span class="text-secondary">{{student.age}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Пол: </span>
          <span class="text-secondary">{{student.gender}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-2  mt-4">
          <span class="h4 ">Контакты</span>
        </div>

        {% if not student.hide_contacts %}
                <div class="col-lg-12 col-sm-12 p-1  ">
                    <span class="text-dark ">Почта: </span>
                    <span class="text-secondary">{{student.email}}</span>
                </div>

              <div class="col-lg-12 col-sm-12 p-1  ">
                    <span class="text-dark ">Телеграм: </span>
                    <span class="text-secondary">{{student.telegram}}</span>
                </div>

              <div class="col-lg-12 col-sm-12 p-1  ">
                  <span class="text-dark ">Номер телефона: </span>
                  <span class="text-secondary">{{student.phone_number}}</span>
              </div>
            {% else %}
                <div class="col-lg-12 col-sm-12 p-1  ">
                    <span class="text-secondary">Пользователь скрыл свои данные</span>
                </div>
            {% endif %}

      </div>
    </div>

    <div class="col-12  text-sm-left text-lg-left mt-4 p-2">
      <span class="h4  ">Навыки </span>
    </div>

    <div class="col-12  text-sm-left text-lg-left p-2 pb-4 mb-4">
      {% for skill in student.skills.all %}
        <span class="btn btn-outline-dark rounded skill mb-2">{{ skill.name }}</span>
      {% empty %}
      <p>Нет навыков</p>
      {% endfor %}
    </div>

    {% if user.id == student.user.id and user.is_authenticated %}
        <div class="col-12  text-sm-center text-lg-center  centre ">
       <button class="btn btn-outline-primary rounded mb-2" onclick="window.location.href='{% url 'profile_edit' student.id %}'">Редактировать профиль</button>
    </div>
    {% endif %}


  </div>

</div>
{% endblock %}
