{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
<div class="container  rounded-lg border p-5">

  <div class="row mb-2 ">

    <div class="col-lg-4 col-sm-12  p-2 centre  " >
      <div  class="">
        {% if student.photo %}
        <img src="{{student.photo.url}}" alt="{{ student.full_name }}" class="img-fluid fixed-height">
        {% else %}
        <img src="{% static 'image/default.jpg' %}" alt="{{ student.full_name }}" class="fixed-height img-fluid">
        {% endif %}
      </div>
    </div>

    <div class="col-lg-8 col-sm-12   text-sm-left text-lg-left mb-4 mt-4 ">
      <div class="row ">

        <div class="col-lg-12 col-sm-12 p-2  font-weight-bold" >
         <p class="h1">{{student.full_name}}</p>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Дата рождения: </span>
          <span class="text-secondary">{{student.date_of_birth}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Возраст: </span>
          <span class="text-secondary">{{student.age}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Пол: </span>
          <span class="text-secondary">{{student.gender}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-2  mt-4">
          <span class="h4 ">Контакты</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Почта: </span>
          <span class="text-secondary">{{student.email}}</span>
        </div>

        <div class="col-lg-12 col-sm-12 p-1  ">
          <span class="text-dark ">Номер телефона: </span>
          <span class="text-secondary">{{student.phone_number}}</span>
        </div>

      </div>
    </div>

    <div class="col-12  text-sm-left text-lg-left mt-4 p-2">
      <span class="h4  ">Навыки </span>
    </div>

    <div class="col-12  text-sm-left text-lg-left p-2 pb-4 mb-4">
      {% for skill in student.skills.all %}
        <span class="btn btn-outline-dark rounded skill mb-2">{{ skill.name }}</span>
      {% empty %}
      <p>Нет навыков</p>
      {% endfor %}
    </div>

    {% if user.id == student.user.id and user.is_authenticated %}
        <div class="col-12  text-sm-center text-lg-center  centre ">
       <button class="btn btn-outline-primary rounded mb-2" onclick="window.location.href='{% url 'profile_edit' student.id %}'">Редактировать профиль</button>
    </div>
    {% endif %}


  </div>

</div>
{% endblock %}
<!--<div class="row border">-->
<!--        <div class="col-md-3">-->
<!--          <div class="profile-picture">-->
<!--            {% if student.photo %}-->
<!--              <img src="{{student.photo.url}}" alt="{{ student.full_name }}" class="img-fluid rounded-circle">-->
<!--            {% else %}-->
<!--              <img src="{% static 'img/default-profile.jpg' %}" alt="{{ student.full_name }}" class="img-fluid rounded-circle">-->
<!--            {% endif %}-->
<!--          </div>-->
<!--          <h3 class="profile-full-name">{{ student.full_name }}</h3>-->
<!--          <p class="profile-gender">{{ student.gender }}</p>-->
<!--          <p class="profile-age">{{ student.age }} лет</p>-->
<!--          <p class="profile-date-of-birth">{{ student.date_of_birth }}</p>-->
<!--          <p class="profile-phone-number">{{ student.phone_number }}</p>-->
<!--          <p class="profile-email">{{ student.email }}</p>-->
<!--        </div>-->
<!--        <div class="col-md-9">-->
<!--          <h3>О себе</h3>-->
<!--          <p class="profile-about">{{ student.about }}</p>-->
<!--          <h3>Навыки</h3>-->
<!--          <div class="skills">-->
<!--            {% for skill in student.skills.all %}-->
<!--              <span class="skill">{{ skill.name }}</span>-->
<!--            {% empty %}-->
<!--              <p>Нет навыков</p>-->
<!--            {% endfor %}-->
<!--          </div>-->
<!--          <h3>Опыт работы</h3>-->
<!--          {% for experience in student.experiences.all %}-->
<!--            <div class="experience">-->
<!--              <h4>{{ experience.position }}</h4>-->
<!--              <p>{{ experience.company }}</p>-->
<!--              <p class="font-weight-bold">{{ experience.start_date }} - {{ experience.end_date }}</p>-->
<!--              <p>{{ experience.description }}</p>-->
<!--            </div>-->
<!--          {% empty %}-->
<!--            <p>Опыта работы нет</p>-->
<!--          {% endfor %}-->
<!--          <h3>Образование</h3>-->
<!--          {% for education in student.educations.all %}-->
<!--            <div class="education">-->
<!--              <h4>{{ education.degree }}</h4>-->
<!--              <p>{{ education.major }}</p>-->
<!--              <p class="font-weight-bold">{{ education.school }}</p>-->
<!--              <p>{{ education.start_date }} - {{ education.end_date }}</p>-->
<!--            </div>-->
<!--          {% empty %}-->
<!--            <p>Образования нет</p>-->
<!--          {% endfor %}-->
<!--        </div>-->
<!--      </div>-->